body {
  font-family: sans-serif;
}

.page {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
  justify-items: center;
}
#searchbar {
  height: 20px;
  font-size: 14px;
  border-radius: 8px;
  border-width: 3px;
}
#search {
  margin-left: 5px;
  border-radius: 8px;
  height: 30px;
}
.movie {
  display: flex;
  align-items: center;
  width: fit-content;
  margin-bottom: 50px;
}
.movieCard {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 2px 2px #434343;
  border-radius: 8px;
}
.movieName {
  padding: 10px;
}
.movieName p {
  font-weight: 700;
}
.reaction {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  padding: 5px;
  margin-left: 10px;
}
.reaction textarea {
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 8px;
  border-width: 3px;
}
.save {
  margin-top: 5px;
  width: 50px;
}
.reaction .select {
  border-radius: 8px;
  border-width: 3px;
}
.commentArea {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.details {
  padding: 10px;
}
#bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px; /* Height of the footer */
  background: #6cf;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px; /* Height of the footer */
  background: #6cf;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
